{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Подробности сообщения{% endblock %}
{% block content %}

<div class="container mb-3">
    <div class="row">
        <div class="col">
            <h1>Тема {{ contact_message.title }} </h1>
            <table class="table table-striped">
                <tr>
                <th>Описание</th>
                <td> {{contact_message.description|safe}}</td>
                </tr>

                <tr>
                    <th>Добавил запись</th>
                    <td>{{contact_message.manager}}</td>
                </tr>
                <tr>
                    <th>Дата создания сообщения</th>
                    <td>{{contact_message.date}}</td>
                </tr>

            </table>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {% if contact_message.manager == request.user %}
                <a href="{% url 'crm:contact_message_update' contact_message.pk %}" class=" btn btn-success mr-2" role="button"
                   data-bs-toggle="button">Изменить информацию</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-block">
                <a href="{% url 'crm:contact_message_create' %}" class="btn btn-info">Добавить новую запись</a>
                <a href="{% url 'crm:project_detail' contact_message.project.pk %}"  class="btn btn-primary">Перейти в проект</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
